.iphone-container {
    display: flex;
    animation: fade-in 1s 1;
}

.iphone {
    border: 3px solid #555;
    height: 550px;
    width: 270px;
    border-radius: 50px;
    box-shadow: inset 0 0 10px #444;
    background: linear-gradient(#62615f, #3c3b39);
}

.cam-board {
    border: 2px solid gray;
    height: 145px;
    width: 145px;
    margin: 10px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#62615f, #3c3b39);
}

.top .cam-area {
    background-color: #454545;
    height: 140px;
    width: 135px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px 8px rgba(0 0 0 / 0.3);
}

.top .cam-area-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top .cam-area-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top .cam-area-right > * {
    margin: 5px;
}

.top .cam-area .cam-area-right .mic-area {
    display: flex;
    width: 100%;
}

.top .cam-area .cam {
    border: 1px solid gray;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: linear-gradient(280deg, #62615f, #3c3b39);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 15px 8px rgba(0 0 0 / 0.3);
}

.top .cam-board .cam-area .flash {
    border: 1px solid gray;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background: linear-gradient(280deg,#fff, #aaa);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-flash {
    height: 12.5px;
    width: 12.5px;
    border-radius: 100%;
    background: linear-gradient(75deg,#fff, #aaa);
}

.top .cam-area .mic {
    border: 1px solid gray;
    height: 5px;
    width: 5px;
    border-radius: 100%;
}

.top .cam-area .sensor {
    border: 1px solid gray;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: black;
}

.power-btn-area {
    display: flex;
    align-items: end;
    height: 250px;
}

.power-btn-area .power-btn {
    width: 2px;
    height: 70px;
    background: linear-gradient(#62615f, #3c3b39);
    border-radius: 50px 0px 0px 50px;
}

.btn-area {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 250px;
}

.btn-area > * {
    margin-top: 10px;
    background: linear-gradient(#62615f, #3c3b39);
}

.btn-area .btn-dont-disturb {
    width: 2px;
    height: 20px;
    border-radius: 0px 50px 50px 0px;
    margin-top: 30px;
}

.btn-area .btn-volume {
    width: 2px;
    height: 50px;
    border-radius: 0px 50px 50px 0px;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.middle img {
    width: 55px;
}

.inside-small {
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-small-2 {
    width: 35px;
    height: 35px;
    background: linear-gradient(280deg, #121212, #212121);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-small-3 {
    width: 20px;
    height: 20px;
    background: linear-gradient(75deg, #121212, #212121);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-small-4 {
    width: 5px;
    height: 5px;
    background: linear-gradient(250deg, #121212, #444);
    border-radius: 100%;
}

.inside-big-4 {
    width: 12px;
    height: 12px;
    background: linear-gradient(250deg, #121212, #444);
    border-radius: 100%;
}

.inside-medium-4 {
    width: 8px;
    height: 8px;
    background: linear-gradient(250deg, #121212, #444);
    border-radius: 100%;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

